body,
.c3-chart-arcs-title,
.c3 svg {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif;
}

:root {
	--main-bg-color: #eee;
	--accent-color: #39c;
	--inactive-tab-color: #aaa;
	--active-tab-color: #666;
}

body {
	background: var(--main-bg-color);
}

a {
	color: var(--accent-color);
}

section {
	max-width: 600px;
	margin: 0 auto;
	padding: 10px;
}

.intro {
	line-height: 1.6;
}

.card {
	background: #fff;
	box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
	padding: 10px 20px 20px;
}

.card-header {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding-bottom: 20px;
}

.card-title {
	background: #39c;
	color: #fff;
	display: inline-block;
	font-size: 2rem;
	font-weight: 200;
	margin: 0 0 0 -30px;
	padding: 5px 10px;
}

/* Filter links */
.filters {
	display: inline-block;
}

.filters a {
	color: var(--inactive-tab-color);
	text-decoration: none;
}

.filters a.active {
	color: var(--active-tab-color);
	border-bottom: 1px solid;
}

/* Charts */
.c3-chart-arcs-title {
	font-size: 16px;
	font-weight: 500;
}

.c3-legend-item {
	font-size: 14px;
}

.c3-chart-arc path {
	stroke-width: 4px;
}
